<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleep Visualization</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet">
</head>

<body>
    <form method="POST" {% if person_id %} action="{% url 'sleep-detail' person_id=person_id %}"{% endif %}>
        {% csrf_token %}
        Enter Person ID:
        <input type="text" name="person_id" required>
        <button type="submit" class="btn btn-primary">Click</button>
    </form>
    <div class="container mt-5">
        {{ sleep_time_chart|safe }}<br>
        {{ sleep_duration_chart|safe }}<br>
        {{ sleep_score_chart|safe }}<br>
    </div>
</body>

</html>
