<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualize Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1>Visualizations</h1>
        <li><a href="/visualize/gender/">Gender Visualization</a></li>
        <li><a href="/visualize/age/">Age Visualization</a></li>
        <li><a href="/visualize/height/">Height Visualization</a></li>
        <li><a href="/visualize/weight/">Weight Visualization</a></li>
        <li><a href="/visualize/sleep/">Sleep Visualization</a></li>
        <li><a href="/visualize/sleep-analytics/">Sleep Analytics Visualization</a></li>
    </div>
</body>

</html>
