<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualize Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1>Visualizations</h1>
        <h5>Person Visualization</h5>
        <li><a href="/visualize/gender/">Gender Visualization</a></li>
        <li><a href="/visualize/age/">Age Visualization</a></li>
        <li><a href="/visualize/height/">Height Visualization</a></li>
        <li><a href="/visualize/weight/">Weight Visualization</a></li>
        <br>
        <h5>Sleep Visualization</h5>
        <li><a href="/visualize/sleep/">Sleep Visualization</a></li>
        <br>
        <h5>Environment Visualization</h5>
        <li><a href="/visualize/temp-c/">Temperature Visualization</a></li>
        <li><a href="/visualize/condition-text/">Condition Text Visualization</a></li>
        <li><a href="/visualize/precip-mm/">Precipitation Visualization</a></li>
        <li><a href="/visualize/humidity/">Humidity Visualization</a></li>
        <li><a href="/visualize/noise/">Noise Visualization</a></li>
        <br>
        <h5>Comparison Visualization</h5>
        <li><a href="/visualize/sleep-duration-vs-sleep-score/">Sleep Duration vs Sleep Score Visualization</a></li>

        <li><a href="/visualize/sleep-duration-vs-temp-c/">Sleep Duration vs Temperature Visualization</a></li>
        <li><a href="/visualize/sleep-duration-vs-precip-mm/">Sleep Duration vs Precipitation Visualization</a></li>
        <li><a href="/visualize/sleep-duration-vs-humidity/">Sleep Duration vs Humidity Visualization</a></li>
        <li><a href="/visualize/sleep-duration-vs-noise/">Sleep Duration vs Noise Visualization</a></li>
        <br>
        <li><a href="/visualize/sleep-score-vs-temp-c/">Sleep Score vs Temperature Visualization</a></li>
        <li><a href="/visualize/sleep-score-vs-precip-mm/">Sleep Score vs Precipitation Visualization</a></li>
        <li><a href="/visualize/sleep-score-vs-humidity/">Sleep Score vs Humidity Visualization</a></li>
        <li><a href="/visualize/sleep-score-vs-noise/">Sleep Score vs Noise Visualization</a></li>
    </div>
</body>

</html>
